@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
html{
  font-family: 'Work Sans', sans-serif;
}
body{
  background-color:#5d4651;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color:#000000;
}
button{
  background-color:#000000;
  color:#ffffff;
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 2px;
  transition: all 1s ease;
}
button:hover{
  transition: all 0.5s ease;
  background-color:#454545;
  width: 100px;
}
.Loginbox{
  background-color: #ffffff;
  padding: 5 15 5;
  border-radius: 5px;
}
input{
  background-color: #e6e6e6;
  border: none;
  border-radius: 1px;
  height: 20px;
}