@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
html{
  font-family: 'Work Sans', sans-serif;
}
body{
  background-color:#7f6270;
}

p{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
button{
  background-color:#000000;
  color:#ffffff;
  border: none;
  border-radius: 2px;
  transition: all 2s ease;
}
button:hover{
  transition: all 0.5s ease;
  background-color:#454545;
}
.Messagebox{
  width: 100%;
  background-color: #4d3d45;
  border-radius: 2px;
  padding: 10 10 10;
}
input{
  width: 100%;
  border: none;
  border-radius: 2px;
}
.selecttype {
  position: relative;
  font-family: Arial;
}
select {
  display: none;
}
.select-selected {
  background-color: DodgerBlue;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}