<html>
  <head>
    <style> <%- myCss.style %> </style>
  </head>
  <body>
    <h1>Files</h1>
    <p>Select files</p>
     <div class="Linkbox">
       <p>Select a file.</p>
       <form action="/videos" method="get">
         <input type="text" placeholder="Type a file name..">
       </form> 
     </div>
  </body>
</html>